@using ShopOrder.Entities
@using System.Data
@model TDONHANG
@{
    //nhap kho
    ViewBag.Title = Model.ID == null ? "Thêm mới" : "Chỉnh sửa";
    Layout = "~/Views/Shared/_Admin.cshtml";

    List<DMATHANG> matHangs = ViewBag.DsMatHang;
}
<style>
    .number-input {
        max-width: 100px;
    }

    .modal-dialog {
        min-width: 800px;
    }
</style>
<div class="card">
    <div class="card-body">
        <form action="/QuanLyNhapKho/Edit/@Model.ID" method="post">
            <div class="row form-group">
                @Html.HiddenFor(item => item.ID)
                @Html.HiddenFor(item => item.LOAI)
                <label class="col-sm-4 col-md-1" for="dtNgay">Ngày</label>
                <input type="date" class="form-control col-sm-6 col-md-1" id="dtNgay" name="NGAY" value="@Model.NGAY.ToString("yyyy-MM-dd")">
                <label class="col-sm-4 col-md-1" for="txtName">Số phiếu</label>
                <input type="text" class="form-control col-sm-6 col-md-1" id="txtName" name="NAME" value="@Model.NAME" readonly>
                <label class="col-sm-4 col-md-1" for="lueDNHANVIENID">Nhân viên</label>
                @Html.DropDownList("DNHANVIENID", null, htmlAttributes: new { @class = "form-control col-sm-6 col-md-2", @id = "lueDNHANVIENID" })
                <label class="col-sm-4 col-md-1" for="txtNOTE">Ghi chú</label>
                <input type="email" class="form-control col-sm-6 col-md-4" placeholder="Ghi chú" name="NOTE" id="txtNOTE" autocomplete="off" value="@Model.NOTE">
            </div>
            <hr />
            <div class="row">
                <div class="div-mathang card col-sm-12 col-md-5">
                    <div class="card-body">
                        <table class="table-mathang table table-striped table-bordered table-hover dynamic-table">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mặt hàng</th>
                                    <th>Giá nhập</th>
                                    <th>Màu</th>
                                    <th>Size</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (matHangs != null && matHangs.Count > 0)
                                    {
                                        int stt = 1;
                                        foreach (DMATHANG item in matHangs)
                                        {
                                            string maus = "", kichThuocs = "";
                                            foreach (DMAUCHITIET itMau in item.DMAUCHITIETs)
                                            {
                                                if (maus.Length > 0)
                                                {
                                                    maus += ",";
                                                }
                                                maus += itMau.DMAU.NAME;
                                            }
                                            foreach (DSIZECHITIET itSize in item.DSIZECHITIETs)
                                            {
                                                if (kichThuocs.Length > 0)
                                                {
                                                    kichThuocs += ",";
                                                }
                                                kichThuocs += itSize.DSIZE.NAME;
                                            }
                                            <tr data-id="@item.ID" data-name="@item.NAME">
                                                <td>@stt</td>
                                                <td>@item.NAME</td>
                                                <td>@((item.GIANHAP ?? 0).ToString("n0"))</td>
                                                <td>@maus</td>
                                                <td>@kichThuocs</td>
                                            </tr>
                                            stt++;
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="div-chitiet card col-sm-12 col-md-7">
                    <div class="card-body">
                        <table class="table-detail table table-striped table-bordered table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th>STT</th>
                                    <th>Mặt hàng</th>
                                    <th>Đơn giá</th>
                                    <th>Số lượng</th>
                                    <th>Thành tiền</th>
                                    <th>Màu</th>
                                    <th>Size</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (Model.TDONHANGCHITIETs != null && Model.TDONHANGCHITIETs.Count > 0)
                                    {
                                        int stt = 1;
                                        foreach (TDONHANGCHITIET ctRow in Model.TDONHANGCHITIETs)
                                        {
                                            <tr data-id="@ctRow.ID" data-dmathangid="@ctRow.DMATHANGID">
                                                <td class="lblSTT">@stt</td>
                                                <td>@ctRow.DMATHANG.NAME</td>
                                                <td class="numDONGIA"><div class="number-view">@ctRow.DONGIA.ToString("n0")</div></td>
                                                <td class="numSOLUONG"><div class="number-view">@ctRow.SOLUONG.ToString("n0")@ctRow.SOLUONG</div></td>
                                                <td class="numTHANHTIEN">@ctRow.THANHTIEN.ToString("n0")</td>
                                                <td class="lblDMAUID" data-id="@ctRow.DMAUID">@ctRow.DMAU.NAME</td>
                                                <td class="lblDSIZEID" data-id="@ctRow.DSIZEID">@ctRow.DSIZE.NAME</td>
                                                <td><div class="btn btn-danger btnRemove">-</div></td>
                                            </tr>
                                            stt++;
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="div-hidden"></div>

            <div class="row justify-content-end">
                <button class="btn btn-warning" type="button" id="btnLuuDuLieu">Lưu dữ liệu</button>
            </div>
        </form>
    </div>
</div>
<script>
    let height = window.innerHeight - 290;
    let divChiTiet = $('.div-chitiet');
    let tableDetail = $('.table-detail');
    let tableMatHang = $('.table-mathang');

    divChiTiet.css("height", height + "px").css("overflow-y", "auto");
    divChiTiet.find("thead").css("position", "sticky").css("top", "-20px");

    tableMatHang.find("tbody").find("tr").dblclick(function (e) {
        e.preventDefault();
        //Hiển thị form nhập dữ liệu
        let trJquery = $(this);
        let dmathangid = trJquery.attr("data-id");
        let dmathang_name = trJquery.attr("data-name");
        $.post("/QuanLyNhapKho/FormThemMatHang?id=" + dmathangid, null, function (dataForm) {
            var form = UiUtils.ShowForm(dmathang_name, $(dataForm), function () {
                let donGia = ConvertToJs.Int(form.find(".divFormThem").find("#ipDONGIA").val());
                let arrData = [];
                form.find(".divFormThem").find(".rowItem").each(function (index, element) {
                    let dmauid = $(element).find("#lueDMAUID").val();
                    let dsizeid = $(element).find("#lueDSIZEID").val();
                    let soLuong = $(element).find("#ipSOLUONG").val();
                    if (dmauid.length != 0 && dsizeid.length != 0 && soLuong > 0) {
                        let item = {};
                        item.DMATHANGID = dmathangid;
                        item.DMATHANG_NAME = dmathang_name;
                        item.DMAUID = dmauid;
                        item.DMAU_NAME = $(element).find("#lueDMAUID option:selected").text();
                        item.DSIZEID = dsizeid;
                        item.DSIZE_NAME = $(element).find("#lueDSIZEID option:selected").text();
                        item.DONGIA = donGia;
                        item.SOLUONG = soLuong;
                        arrData.push(item);
                    }
                });
                if (arrData.length == 0) {
                    UiUtils.ShowError("", "Điền dữ liệu nhập kho");
                } else {
                    let stt = tableDetail.find('tbody').find("tr").length;
                    //Thêm dòng vào chi tiết
                    arrData.forEach((item) => {
                        let added = false;
                        tableDetail.find('tbody').find("tr").each(function (index, element) {
                            let idTmp = $(element).attr('data-dmathangid');
                            let mauIdTmp = $(element).find(".lblDMAUID").attr('data-id');
                            let sizeIdTmp = $(element).find(".lblDSIZEID").attr('data-id');
                            if (idTmp == item.DMATHANGID && mauIdTmp == item.DMAUID && sizeIdTmp == item.DSIZEID) {
                                let slTmp = ConvertToJs.Int(item.SOLUONG) + ConvertToJs.Int($(element).find(".numSOLUONG").text());
                                $(element).find(".numSOLUONG").text(UiUtils.FormatNumber(slTmp));
                                added = true;
                            }
                        });
                        if (!added) {
                            //thêm mới
                            stt++;
                            let newRow =
                                '<tr data-id="" data-dmathangid="' + dmathangid + '">' +
                                '   <td class="lblSTT">' + stt + '</td>' +
                                '   <td>' + dmathang_name + '</td>' +
                                '   <td class="numDONGIA"><div class="number-view">' + UiUtils.FormatNumber(item.DONGIA) + '</div></td>' +
                                '   <td class="numSOLUONG"><div class="number-view">' + UiUtils.FormatNumber(item.SOLUONG) + '</div></td>' +
                                '   <td class="numTHANHTIEN">' + UiUtils.FormatNumber(item.DONGIA * item.SOLUONG) + '</td>' +
                                '   <td class="lblDMAUID" data-id="' + item.DMAUID + '">' + item.DMAU_NAME + '</td>' +
                                '   <td class="lblDSIZEID" data-id="' + item.DSIZEID + '">' + item.DSIZE_NAME + '</td>' +
                                '   <td><div class="btn btn-danger btnRemove">-</div></td>'+
                                '</tr>';
                            tableDetail.find("tbody").append(newRow);
                        }
                    });

                    tableDetailCalculateRow();
                }
            });
        });
    });

    divChiTiet.find(".btnRemove").click(function () {
        $(this).closest("tr").remove();
    });

    $('html').on("change", ".table-detail .number-input", function (e) {
        let className = $(this).closest("td").attr('class');
        if (className == "numDONGIA" || className == "numSOLUONG") {
            let num1 = ConvertToJs.Int($(this).val());
            let num2 = 0;
            if (className == "numSOLUONG") num2 = ConvertToJs.Int($(this).closest("tr").find('.numDONGIA').text());
            else if (className == "numDONGIA") num2 = ConvertToJs.Int($(this).closest("tr").find('.numSOLUONG').text());
            let thanhTien = num1 * num2;
            $(this).closest("tr").find(".numTHANHTIEN").text(UiUtils.FormatNumber(thanhTien));
        }
    });

    function tableDetailCalculateRow() {
        tableDetail.find('tbody').find("tr").each(function (index, element) {
            let donGia = ConvertToJs.Int($(element).find(".numDONGIA").text());
            let soLuong = ConvertToJs.Int($(element).find(".numSOLUONG").text());
            let thanhTien = donGia * soLuong;
            $(element).find(".numTHANHTIEN").text(UiUtils.FormatNumber(thanhTien));
        });
    }

    $('#btnLuuDuLieu').click(function () {
        if (tableDetail.find('tbody').find("tr").length == 0) {
            UiUtils.ShowError("", "Vui lòng nhập dữ liệu chi tiết");
            return;
        }
        let divHidden = tableDetail.closest("form").find(".div-hidden");
        divHidden.empty();
        //ghi lại các trường chi tiết
        tableDetail.find('tbody').find("tr").each(function (index, element) {
            divHidden.append('<input name="TDONHANGCHITIETs[' + index + '].DMATHANGID" value="' + $(element).attr('data-dmathangid') + '"/>');
            divHidden.append('<input name="TDONHANGCHITIETs[' + index + '].DONGIA" value="' + ConvertToJs.Int($(element).find('.numDONGIA').text()) + '"/>');
            divHidden.append('<input name="TDONHANGCHITIETs[' + index + '].SOLUONG" value="' + ConvertToJs.Int($(element).find('.numSOLUONG').text()) + '"/>');
            divHidden.append('<input name="TDONHANGCHITIETs[' + index + '].DMAUID" value="' + $(element).find('.lblDMAUID').attr("data-id") + '"/>');
            divHidden.append('<input name="TDONHANGCHITIETs[' + index + '].DSIZEID" value="' + $(element).find('.lblDSIZEID').attr("data-id") + '"/>');
        });
        divHidden.closest("form").submit();
    });
</script>