@using ShopOrder.Entities
@using ShopOrder.Controllers.Model
@model List<TDONHANG>
@{
    ViewBag.Title = "Quản lý nhập kho";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<style>
    body {
        overflow: hidden;
    }

    .div-filter {
        width: 250px;
    }

    .div-content {
        margin-left: 20px;
        width: calc(100% - 280px);
    }

    .div-button {
        margin-bottom: 10px;
    }
</style>
<div class="row div-button">
    <div class="col-sm-6 col-md-10">
        @Html.ActionLink("Thêm mới", "edit", null, new { @class = "btn btn-info" })
    </div>
    <div class="col-sm-4 col-md-2">
        <div class="row justify-content-end m-r-30">
            <h5>QUẢN LÝ NHẬP KHO</h5>
        </div>
    </div>
</div>
<div class="row p-lr-15">
    <div class="div-filter card p-lr-10">
        <div class="card-body">
            <form method="post" action="">
                @*tu ngay den ngay*@
                <div class="form-group">
                    <label for="email">Từ ngày - Đến ngày</label>
                    <input type="text" class="form-control daterange" name="dtNgay" value="@ViewBag.dtNGAY" readonly />
                </div>

                @*nhân viên*@
                <div class="form-group">
                    <label for="email">Nhân viên</label>
                    @Html.DropDownList("DNHANVIENID", null, htmlAttributes: new { @class = "form-control" })
                </div>

                @*mặt hàng*@
                <div class="form-group">
                    <label for="email">Mặt hàng</label>
                    @Html.DropDownList("DMATHANGID", null, htmlAttributes: new { @class = "form-control" })
                </div>

                <div class="row p-lr-15">
                    <button type="submit" class="col-12 btn btn-outline-info">Tải dữ liệu</button>
                </div>
            </form>
        </div>
    </div>
    <div class="div-content">
        <div class="card">
            <div class="card-body">
                <table class="table-main table table-striped table-bordered table-hover dynamic-table">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Ngày</th>
                            <th>Số phiếu</th>
                            <th>Nhân viên</th>
                            <th>Tiền hàng</th>
                            <th>Tổng cộng</th>
                            <th>Ghi chú</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int count = 0;
                            foreach (var item in Model)
                            {
                                count++;
                                string DNHANVIEN_NAME = item.DNHANVIEN == null ? "" : item.DNHANVIEN.NAME;
                                <tr class="pointer" data-id="@item.ID">
                                    <td>@count</td>
                                    <td>@item.NGAY.ToString("dd/MM/yyyy")</td>
                                    <td>@item.NAME</td>
                                    <td>@DNHANVIEN_NAME</td>
                                    <td>@(item.TIENHANG.ToString("n0"))</td>
                                    <td>@(item.TONGCONG.ToString("n0"))</td>
                                    <td>@item.NOTE</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <table class="table-detail table table-striped table-bordered table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>STT</th>
                            <th>Mã hàng</th>
                            <th>Mặt hàng</th>
                            <th>Đơn giá</th>
                            <th>Số lượng</th>
                            <th>Thành tiền</th>
                            <th>Màu</th>
                            <th>Size</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        AnHienNhaXe($('.ipLoaiVanChuyen'));

        //fix chiều cao
        let height = window.innerHeight - 137;
        $('.div-filter').height(height);

        $('.table-main').closest(".card-body").height(height / 2 + 8);

        $('.table-detail').closest(".card-body").height(height / 2 - 115);
        $('.table-detail').closest(".card-body").css("overflow-y", "auto");
        $('.table-detail').find("thead").css("position", "sticky").css("top", "-20px");
    });

    $('.ipLoaiVanChuyen').change(function () {
        AnHienNhaXe($(this));
    });

    function AnHienNhaXe(item) {
        let hidden = item.val() != "-1" && item.val() != "0";
        if (hidden) {
            $('.ipDNHAXEID').closest('.form-group').prop("hidden", true);
        } else {
            $('.ipDNHAXEID').closest('.form-group').prop("hidden", false);
        }
    }

    $('.table-main').find("tbody").find("tr").click(function () {
        let tdonhangid = $(this).attr("data-id");
        $.post("/QuanLyNhapKho/DetailTbody?id=" + tdonhangid, null, function (dataTr) {
            $('.table-detail').find("tbody").empty();
            $('.table-detail').find("tbody").append(dataTr);
        });
    });

    $('.table-main').find("tbody").find("tr").dblclick(function () {
        let tdonhangid = $(this).attr("data-id");
        window.location.href = "/QuanLyNhapKho/Edit/" + tdonhangid;
    });
</script>