@model List<ShopOrder.Entities.TDONHANGCHITIET>
@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Model == null || Model.Count == 0)
    {
        <hr />
        <div class="container">
            <div class="row">
                <div class="w-100" style="height: 300px;">
                    <div class="alert alert-danger w-100 text-center" role="alert">
                        <h3>Giỏ hàng trống</h3>
                    </div>
                </div>
            </div>
        </div>
        return;
    }
}

<!-- Shoping Cart -->
<div class="p-t-75 p-b-85">
    <div class="container-fluid">
        <form class="row" method="post" action="/Cart/ThongTinDatHang" enctype="multipart/form-data">
            <div class="col-12 m-lr-auto m-b-50">
                <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                    <h4 class="mtext-109 cl2 p-b-30 bor12">
                        Chi tiết đặt hàng
                    </h4>

                    <div class="row m-t-20">
                        @{
                            foreach (var item in Model)
                            {
                                <div class="col-sm-12 col-md-4 m-t-10">
                                    <div class="card pointer" data-id="@item.ID">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-4 col-sm-6 col-md-4 m-b-5">
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input m-l-0" data-id="@item.ID">
                                                        <input type="text" style="display: none;" value="@item.ID">
                                                    </div>
                                                    <img src="/Images/Items/@(item.DMATHANG.DANHs.ElementAt(0).NAME)" alt="IMG" style="width: 100% !important">
                                                </div>
                                                <div class="col-8 col-sm-6 col-md-8">
                                                    <div class="stext-101">@item.DMATHANG.NAME</div>
                                                    <div id="ipDONGIA" class="stext-105" data-value="@item.DONGIA">@(item.DONGIA.ToString("n0")) vnđ</div>
                                                    <div class="stext-105">Phân loại: @item.DSIZE.NAME (@item.DMAU.NAME)</div>
                                                    <div class="wrap-num-product flex-w m-r-20 m-tb-10">
                                                        <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                                            <i class="fs-16 zmdi zmdi-minus"></i>
                                                        </div>
                                                        <input id="ipSOLUONG" class="mtext-104 cl3 txt-center num-product" type="number" name="SOLUONG" value="@item.SOLUONG" disabled>
                                                        <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                                            <i class="fs-16 zmdi zmdi-plus"></i>
                                                        </div>
                                                    </div>
                                                    <div class="stext-105" style="color:red;"><span id="ipTHANHTIEN">@((item.DONGIA * item.SOLUONG).ToString("n0"))</span> vnđ</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>

                    <div class="row m-t-20 p-all-10">
                        <button type="button" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer" id="btnThanhToan">
                            Thanh toán
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>

    $('body').on("click", ".card", function (e) {
        e.preventDefault();
        let checkElement = $(this).find('input[type="checkbox"]');
        checkElement.prop('checked', !checkElement.is(":checked"));
        //đặt name để submit
        let inputText = checkElement.parent().find('input[type="text"]');
        if (checkElement.is(":checked")) {
            inputText.attr("name", "ids[]");
        } else {
            inputText.attr("name", "");
        }
        editTextThanhToan();
    });

    function editTextThanhToan() {
        let tongCong = 0;
        $('body').find('.card').find('input[type="checkbox"]').each(function () {
            if ($(this).is(":checked")) {
                let card = $(this).closest('.card');
                let donGia = ConvertToJs.Int(card.find('#ipDONGIA').attr('data-value'));
                let soLuong = ConvertToJs.Int(card.find('#ipSOLUONG').val());
                tongCong += donGia * soLuong;
            }
        });
        let text = "THANH TOÁN";
        if (tongCong > 0) {
            text = "THANH TOÁN: " + UiUtils.FormatNumber(tongCong) + ' VNĐ'
        }
        $('#btnThanhToan').text(text);
    }

    $('.btn-num-product-up').click(function (e) {
        e.preventDefault();
        e.stopPropagation();
        ThayDoiSoLuong($(this), 1);
    });

    $('.btn-num-product-down').click(function (e) {
        e.preventDefault();
        e.stopPropagation();
        ThayDoiSoLuong($(this), -1);
    });

    $('#btnThanhToan').click(function () {
        let arr = [];
        $('body').find('.card').find('input[type="checkbox"]').each(function () {
            if ($(this).is(":checked")) {
                arr.push($(this).attr('data-id'));
            }
        });
        if (arr.length > 0) {
            $('#btnThanhToan').closest('form').submit();
        }
    });

    function ThayDoiSoLuong(btn, value) {
        let card = btn.closest('.card');
        let id = card.attr('data-id');
        let donGia = ConvertToJs.Int(card.find('#ipDONGIA').attr('data-value'));
        let soLuong = ConvertToJs.Int(card.find('#ipSOLUONG').val()) + value;
        let thanhTien = donGia * soLuong;
        if (soLuong < 0) return;

        //cập nhật vào dữ liệu
        let data = [{ name: "ID", value: id }, { name: "SOLUONG", value: soLuong }];

        $.post("/Cart/ThayDoiSoLuong", data, function (success) {
            if (success == "ok") {
                //thay đổi thành tiền, thay đổi số lượng
                card.find('#ipSOLUONG').val(soLuong);
                card.find('#ipTHANHTIEN').text(UiUtils.FormatNumber(thanhTien));
                editTextThanhToan();
            } else {
                swal("", success, "error");
            }
        });
    }
</script>